# a comment - this is ignored
sftp-config.json

#db info
auth.php
config.php
util.php
config_set.php


#CodeIgniter
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/application/config/database.php
*/application/config/config.php

#wp
wp-config.php