# a comment - this is ignored
sftp-config.json

#image file
cms.ico
cms_box_logo.png
cms_box_logo_.png
cms_main_logo.png
cms_main_logo_.png

#db info
auth.php
config.php
config_set.php


#CodeIgniter 
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

#wp 
wp-config.php

